<body>
<div id="choisir_ville" data-role="page" data-add-back-btn="true">
    <div data-role="header">
        <h1> Restaurant Picker</h1>
    </div>
    <div data-role="content">
        <div class="choice_list">
            <h1> In which town do you want to eat? </h1>
            {% if town_list %}
                <ul data-role="listview" data-inset="true" data-filter="true"  >
                    {% for town_dict in town_list %}
                            <li><a href="{% url 'restaurants:choose_restaurant' food_id town_dict.town.id %}"  data-transition="slidedown">{{ town_dict.town.name }}<span class="ui-li- count">{{ town_dict.count }}</span></a> </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
</body>